$text-color: black;
$border-color-light: #d8d8d8;
$border-bottom: #E8EAED;
$border-color-dark: #a9a9a9;
$border-color-off-white: #EFEFF4;
$list-item-border-color: rgba(0,0,0,0.05);
$text-primary: #2B2B2B;
$text-secondary: #989898;
$text-primary-light: #4E515B;
$text-primary-light-1: #3F3F3F;
$text-primary-lighter: #676767;
$text-blue-grey: #042149;
$accent-color: #4aa7a9;
$accent-color-light: #7ed9db;
$accent-color-light-transparent: rgb(219, 237, 238, 0.5);
$accent-color-medium-transparent: rgb(161, 209, 210, 0.5);
$accent-color-lighter: #DFEFEF;
$accent-color-lightest: #EBFFFF;
$accent-color-dark: #00787a;
$primary-color: #fff;
$secondary-color: #eee;
$error-color: #FF6847;
$vivid-yellow: #FFCC2F;
$light-grey-background: #F5F5F5;
$lighter-grey-background: #fbfbfb;
$background-off-white: #F8F8FB;
$background-off-white-1: #F0F8FA;
$background-light: #E0E0E6;
$tooltip-background: rgba(0, 0, 0, 0.8);
$list-item-box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2);
$blade-box-shadow: 0 2px 3px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 2px 3px -1px rgba(0,0,0,.2);
$top-nav-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
$separator-color: rgba(0,0,0,.12);
$node-radius: 10;
$link-width: 3;
$layout-spacing: 14px;
$white: #FFFFFF;
$active-header: #4DA7A9;
$fontSemiBold:600;